annotated-types==0.7.0
anyio==4.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
duckdb==1.2.1
exceptiongroup==1.2.2
fastapi==0.115.11
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
Jinja2==3.1.6
Markdown==3.7
MarkupSafe==3.0.2
networkx==3.4.2
numpy==2.2.4
packaging==24.2
pandas==2.2.3
plotly==5.24.1
preswald==0.1.42
pydantic==2.10.6
pydantic_core==2.27.2
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytz==2025.1
requests==2.32.3
scipy==1.15.2
six==1.17.0
sniffio==1.3.1
starlette==0.46.1
tenacity==9.0.0
toml==0.10.2
tomli==2.2.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
uvicorn==0.34.0
websockets==10.4
